@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.container {
  @apply mx-auto;
}

.background-custom {
  background-color: #020202;
  opacity: 0.9;
  background-image: radial-gradient(
      #4c2886 0.7000000000000001px,
      transparent 0.7000000000000001px
    ),
    radial-gradient(#492886 0.7000000000000001px, #020202 0.7000000000000001px);
  background-size: 28px 28px;
  background-position:
    0 0,
    14px 14px;
}
